<div
    class="fullscreenView calibrate"
    data-role="view"
    data-title="Calibrazione"
    data-layout="home-back-title-home"
    data-model="APP.models.calibrate"
    data-before-show="APP.models.calibrate.showed"
    data-hide="APP.models.calibrate.hide"
    data-stretch="true">
    <div class="calibration">
        <div class="roller" id="roller">
            <div class="leftSide">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
            <div class="centerSide" id="centerRoller"></div>
            <div class="rightSide">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="center">
            <span class="down km-custom-down"></span>
            <span class="up km-custom-up"></span>
        </div>
    </div>
    <div class="description">
        Ruota la fascia attorno al braccio, in modo da centrare il pallino<br/>e mantieni la posizione
    </div>
</div>