<div 
    data-role="view" 
    data-title="Home" 
    data-layout="home" 
    id="home-view" 
    data-model="APP.models.home"
    data-show="APP.home.show"
    data-stretch="true">
        <div class="background"></div>
        <div class="button circle" data-role="touch" data-bind="events : {tap : start}"id="start">
            <span class="km-custom-play"></span>
        </div>
        <ul>
            <li>
                <div class="bullet">
                    <span></span>
                </div>
                <span class="title">Unleash Your Beast #1</span>
                <span class="day">Oggi</span>
            </li>
            <li>
                <div class="points"><span></span><span></span><span></span></div>
                <div class="bullet">
                    <span></span>
                </div>
                <span class="title">Unleash Your Beast #2</span>
                <span class="day">Domani</span>
            </li>
            <li>
                <div class="points"><span></span><span></span><span></span></div>
                <div class="bullet">
                    <span></span>
                </div>
                <span class="title">Unleash Your Beast #3</span>
                <span class="day">4 Febbraio</span>
            </li>
            <li>
                <div class="points"><span></span><span></span><span></span></div>
                <div class="bullet">
                    <span></span>
                </div>
                <span class="title">Unleash Your Beast #4</span>
                <span class="day">5 Febbraio</span>
            </li>
            <li>
                <div class="points"><span></span><span></span><span></span></div>
                <div class="bullet">
                    <span></span>
                </div>
                <span class="title">Unleash Your Beast #5</span>
                <span class="day">6 Febbraio</span>
            </li>
            <li>
                <div class="points"><span></span><span></span><span></span></div>
                <div class="bullet">
                    <span></span>
                </div>
                <span class="title">Unleash Your Beast #6</span>
                <span class="day">7 Febbraio</span>
            </li>
        </ul>
</div>