<div
    class="fullscreenView beforeCalibrate calibrate"
    data-role="view"
    data-title="Calibrazione"
    data-layout="home-back-title-home"
    data-model="APP.models.beforeCalibrate2"
    data-before-show="APP.models.beforeCalibrate2.showed"
    data-hide="APP.models.beforeCalibrate2.hided"
    data-stretch="true">
    <div class="image" id="video1">
    </div>
    <div class="description">
        Petto in fuori, schiena dritta<br/>
        Metti il braccio orizzontale toccandoti la spalla opposta
    </div>
    <div data-role="touch" data-bind="events : {tap : next}" class="button">Avanti</div>
</div>