<div
    class="fullscreenView workout"
    data-role="view"
    data-title="Eser"
    data-layout="home-back-title-home"
    data-model="APP.workout"
    data-before-show="APP.workout.showed"
    data-hide="APP.workout.hide"
    data-stretch="true">
    <div class="indicator">
        <svg id="workoutSerieSVG"></svg>
        <div class="status" id="workoutSerieS">
            <span id="workoutSerieCurr"></span>
            <span id="workoutSerieTot"></span>
        </div>
        <h2>Serie</h2>
    </div>
    <div class="indicator">
        <svg id="workoutRipSVG"></svg>
        <div class="status" id="workoutRipS">
            <span id="workoutRipCurr"></span>
            <span id="workoutRipTot"></span>
        </div>
        <h2>Ripetizioni</h2>
    </div>
    <div class="indicator">
        <svg id="workoutTimeSVG"></svg>
        <div class="status" id="workoutTimeS">
            <span id="workoutTime"></span>
        </div>
        <h2>Tempo</h2>
    </div>
</div>